
<div class="container">
    <section ng-controller="ProfileCtrl as ctrl" class="edit-nurse-page col-sm-offset-2 col-sm-8">
    <h1>Edit/Update Profile</h1>
        <form name="editNurseForm" ng-submit="editNurseForm.$valid && ctrl.editNurse()" novalidate="">
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="nurse_id">NRIC/FIN (ID)<span>*</span></label>
                        <input id="nurse_id"
                            class="form-control"
                            name="nurse_id"
                            type="text"
                            placeholder="{{ ctrl.nurse.id }}" readonly/>
                    </div>
                    <div class="validation" data-ng-show="editNurseForm.nurse_id.$touched || editNurseForm.$submitted">
                        <div data-ng-show="editNurseForm.nurse_id.$error.required">
                            <span class="glyphicon glyphicon-alert"></span>
                            NRIC(ID) is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        <label for="first_name">First Name<span class="required">*</span></label>
                        <input id="first_name"
                            class="form-control"
                            name="first_name"
                            type="text"
                            required
                            ng-model="ctrl.nurse.first_name"/>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="last_name">Last Name<span class="required"> *</span></label>
                        <input id="last_name"
                            class="form-control"
                            name="last_name"
                            type="text"
                            required
                            ng-model="ctrl.nurse.last_name"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                        <div class="validation" data-ng-show="editNurseForm.first_name.$touched || editNurseForm.$submitted">
                            <div data-ng-show="editNurseForm.first_name.$error.required">
                                <span class="glyphicon glyphicon-alert"></span>
                                First Name is required.
                            </div>
                        </div>
                </div>
                <div class="col-sm-5">
                    <div class="validation" data-ng-show="editNurseForm.last_name.$touched || editNurseForm.$submitted">
                        <div data-ng-show="editNurseForm.last_name.$error.required">
                            <span class="glyphicon glyphicon-alert"></span>
                            Last Name is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        <label for="dateOfBirth">Date of Birth</label>
                        <input id="dateOfBirth"
                            class="form-control"
                            name="dateOfBirth"
                            type="date"
                            required
                            ng-model="ctrl.nurse.birth_date" readonly/>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label>Gender</label>
                        <br/>
                        <input name="gender"
                            type="radio"
                            required
                            value="M"
                            ng-model="ctrl.nurse.gender" readonly/>
                        Male
                        <input name="gender"
                            type="radio"
                            required
                            value="F"
                            ng-model="ctrl.nurse.gender" readonly/>
                        Female
                        <br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email"
                            class="form-control"
                            placeholder="you@domain.com"
                            name="email"
                            type="email"
                            required
                            ng-model="ctrl.nurse.email"/>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="contact">Contact (Mobile)</label>
                        <input id="contact"
                            class="form-control"
                            placeholder="Mobile Number"
                            name="contact"
                            type="text"
                            required
                            ng-model="ctrl.nurse.contact"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="address">Address<span class="required">*</span></label>
                        <input id="address"
                            class="form-control"
                            name="address"
                            type="text"
                            required
                            ng-model="ctrl.nurse.address"/>
                    </div>
                    <div class="validation" data-ng-show="editNurseForm.position.$touched || editNurseForm.$submitted">
                        <div data-ng-show="editNurseForm.position.$error.required">
                            <span class="glyphicon glyphicon-alert"></span>
                            Position/Rank is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="nurse_id">Rank / Position<span class="required">*</span></label>
                        <input id="nurse_id"
                            class="form-control"
                            name="position"
                            type="text"
                            required
                            ng-model="ctrl.nurse.position" readonly />
                    </div>
                    <div class="validation" data-ng-show="editNurseForm.position.$touched || editNurseForm.$submitted">
                        <div data-ng-show="editNurseForm.position.$error.required">
                            <span class="glyphicon glyphicon-alert"></span>
                            Position/Rank is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <hr/>
                <div class="col-sm-12">
                    <div class="form-group" ng-hide="ctrl.editNurse_successful">
                        <input id="save"
                            name="save"
                            type="submit"
                            class="btn btn-success"
                            value="Save" ng-click="ctrl.updateProfile()"/>

                        <input id="cancel"
                            name="cancel"
                            type="submit"
                            class="btn btn-danger"
                            value="Cancel" ng-click="ctrl.exit()" />
                    </div>
                    <div ng-show="ctrl.editNurse_successful">
                        <label style="color: green;">Profile updated successfully.</label>
                        <input id="home"
                                name="home"
                                type="submit"
                                class="btn btn-success"
                                value="Close" 
                                ng-click="ctrl.exit()"/>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>



