<!--navigation.html -- Protected-->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand">PEPS</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!--<li><a ui-sref="home">Team</a></li>-->
        <li><a>Team</a></li>
        <li><a ui-sref="nurses">Nurses</a></li>
        <li><a ui-sref="patients">Patients</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a ui-sref="register"><span class="glyphicon glyphicon-user"></span> Register </a></li>-->
        <!--<li><a ui-sref="account"><span class="glyphicon glyphicon-user"></span> Account </a></li>-->

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a ui-sref="profile">Profile</a></li>
              <li role="separator" class="divider"></li>
              <!--<li class="dropdown-header">Nav header</li>-->
              <li><a ng-controller="LogoutCtrl as ctrl" ng-click="ctrl.logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
