
<div align="center" ng-controller="NursesCtrl as ctrl">
    <h2>Nurses List</h2>
    <div class="row">
        <div class="col-xs-12" class="table-responsive">
            <table class="table table-bordered table-condensed table-hover text-centered">
            <!--<caption class="text-center"></caption>-->
            <thead>
                <tr>
                <th>NRIC (ID)</th>
                <th>First, Last name</th>
                <th>Date of Birth</th>
                <th>Contact</th>
                <th>Position</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody ng-repeat="x in ctrl.nursesList">
                <tr>
                    <td>{{x.id}}</td>
                    <td>{{x.first_name}}, {{x.last_name}}</td>
                    <td>{{x.birth_date | date:'yyyy-MM-dd' }} </td>
                    <td>{{x.contact}}</td>
                    <td>{{x.position}}</td>
                    <td>
                        <button type="button" class="btn btn-warning">
                            <span class="glyphicon glyphicon-pencil" ng-click="ctrl.edit(x.id)"></span>
                        </button>
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash" ng-click="ctrl.delete($index)"></span>
                        </button>
                    </td>
                </tr>   
            </tbody>
            </table>
        </div><!--end of .table-responsive-->
    </div>
</div>
