
<div class="container" ng-controller="PatientsCtrl as ctrl">
    <section class="add-patient-page col-sm-offset-2 col-sm-8">
    <h1>Add Patient</h1>           
        <div class="Wrapper">
            <div class="LeftContent scrollbar force-overflow" id="style-1">
                <form name="addPatientForm" ng-submit="addPatientForm.$valid && ctrl.addPatient()" novalidate style="padding-right: 6px;">
                    <div class="row">
                        <div class="col-sm-6 col-centered">
                            <div class="form-group" style="height:120px;">
                                <img class="img-responsive img-circle" ng-click="ctrl.photoClick()" src="http://placehold.it/150x150?text=Photo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="patient_id">NRIC/FIN (ID)<span class="required">*</span></label>
                                <input id="patient_id"
                                    class="form-control"
                                    name="patient_id"
                                    type="text"
                                    required
                                    ng-model="ctrl.patient.id"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="validation" data-ng-show="addPatientForm.patient_id.$touched || addPatientForm.$submitted">
                                <div data-ng-show="addPatientForm.patient_id.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span>
                                    NRIC(ID) is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label for="first_name">First Name<span class="required">*</span></label>
                                <input id="first_name"
                                    class="form-control"
                                    name="first_name"
                                    type="text"
                                    required
                                    ng-model="ctrl.patient.first_name"/>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="last_name">Last Name<span class="required"> *</span></label>
                                <input id="last_name"
                                    class="form-control"
                                    name="last_name"
                                    type="text"
                                    required
                                    ng-model="ctrl.patient.last_name"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                                <div class="validation" data-ng-show="addPatientForm.first_name.$touched || addPatientForm.$submitted">
                                    <div data-ng-show="addPatientForm.first_name.$error.required">
                                        <span class="glyphicon glyphicon-alert"></span>
                                        First Name is required.
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="validation" data-ng-show="addPatientForm.last_name.$touched || addPatientForm.$submitted">
                                <div data-ng-show="addPatientForm.last_name.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span>
                                    Last Name is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label for="dateOfBirth">Date of Birth</label>
                                <input id="dateOfBirth"
                                    class="form-control"
                                    name="dateOfBirth"
                                    type="date"
                                    required
                                    ng-model="ctrl.patient.birth_date"/>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label>Gender</label>
                                <br/>
                                <input name="gender"
                                    type="radio"
                                    required
                                    value="M"
                                    ng-model="ctrl.patient.gender"/>
                                Male
                                <input name="gender"
                                    type="radio"
                                    required
                                    value="F"
                                    ng-model="ctrl.patient.gender"/>
                                Female
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input id="email"
                                    class="form-control"
                                    placeholder="you@domain.com"
                                    name="email"
                                    type="email"
                                    ng-model="ctrl.patient.email"/>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="contact">Tel (HP/Home)</label>
                                <input id="contact"
                                    class="form-control"
                                    placeholder="Mobile Number"
                                    name="contact"
                                    type="text"
                                    required
                                    ng-model="ctrl.patient.contact"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="address">Address<span class="required">*</span></label>
                                <input id="address"
                                    class="form-control"
                                    name="address"
                                    type="text"
                                    required
                                    ng-model="ctrl.patient.address"/>
                            </div>
                            <div class="validation" data-ng-show="addPatientForm.address.$touched || addPatientForm.$submitted">
                                <div data-ng-show="addPatientForm.address.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span>
                                    Address is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<hr>-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" ng-hide="ctrl.addPatient_successful">
                                <input id="save"
                                    name="save"
                                    type="submit"
                                    class="btn btn-success"
                                    value="Save"/>

                                <input id="cancel"
                                    name="cancel"
                                    type="submit"
                                    class="btn btn-danger"
                                    value="Cancel" ng-click="ctrl.exit()"/>
                            </div>
                            <div ng-show="ctrl.addPatient_successful">
                                <label style="color: green;">Record created successfully.</label>
                                <input id="home"
                                        name="home"
                                        type="submit"
                                        class="btn btn-success"
                                        value="Close" 
                                        ng-click="ctrl.exit()"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>