<div class="container" ng-controller="ProfileCtrl as ctrl">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ctrl.nurse.first_name}}, {{ctrl.nurse.last_name}}
                    <!--<span class="pull-right"><a ui-sref="updateprofile" align="right" data-original-title="Edit profile" 
                        data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                    </span>-->
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="photo" src="/app/assets/images/avatar-300x300.png" class="img-circle img-responsive"> </div>
                            <div class=" col-md-9 col-lg-9 "> 
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>NRIC (ID):</td>
                                            <td>{{ctrl.nurse.id}}</td>
                                        </tr>
                                        <tr>
                                            <td>Date of Birth</td>
                                            <td>{{ctrl.nurse.birth_date | date:'yyyy-MM-dd' }}</td>
                                        </tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td>{{ctrl.nurse.gender}}</td>
                                        </tr>
                                        <tr>
                                            <td>Address</td>
                                            <td>{{ctrl.nurse.address}}</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>{{ctrl.nurse.email}}</td>
                                        </tr>
                                        <tr>
                                            <td>Contact</td>
                                            <td>{{ctrl.nurse.contact}}</td>
                                        </tr>
                                        <tr>
                                            <td>Position/Title</td>
                                            <td>{{ctrl.nurse.position}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <a ui-sref="editprofile" align="right" data-original-title="Edit profile" 
                                                    data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>                              
                                <!--<a href="#" class="btn btn-primary">My Sales Performance</a>
                                <a href="#" class="btn btn-primary">Team Sales Performance</a>-->
                            </div>
                        </div>
                    </div>
                <!--<div class="panel-footer clearfix pull-right">-->
                    <!--<a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>-->
                    <!--<span class="pull-right">-->
                        <!--<a ui-sref="updateprofile" data-original-title="Edit profile" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>-->
                        <!--<a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>-->
                    <!--</span>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>