body {
	/*background: #eee !important;*/
    background-image: url("/app/assets/images/pillbox25.png");
    background-repeat: repeat;
    /*background-size:contain;
    background-position:center;*/

    /*background-repeat:no-repeat;*/
    /*-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;*/
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.loginForm {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1); 
}

.loginForm-heading {
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
}

/*.checkbox {
    font-weight: normal;
}*/

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-control.ng-touched.ng-invalid {
    border: thin solid #d9534f;
}

.form-control.ng-touched.ng-valid {
    border: thin solid #419641;
}

.ng-submitted .form-control.ng-valid  {
    border: thin solid #419641;

}

.ng-submitted .form-control.ng-invalid {
    border: thin solid #d9534f;

}

.validation {
    color: #d9534f;
}

.validation > div{
    padding-bottom: 4px;
}
.validation .glyphicon {
    margin-right: 5px;
}

