.form-control.ng-touched.ng-invalid {
    border: thin solid #d9534f;
}

.form-control.ng-touched.ng-valid {
    border: thin solid #419641;
}

.ng-submitted .form-control.ng-valid  {
    border: thin solid #419641;

}

.ng-submitted .form-control.ng-invalid {
    border: thin solid #d9534f;

}

.edit-nurse-page h1 {
    text-align: center;
    text-transform: uppercase;
    border-top: thin solid #DDD;
    border-bottom: thin solid #DDD;
    padding: 20px 0;
}

.add-nurse-page h1 {
    text-align: center;
    text-transform: uppercase;
    border-top: thin solid #DDD;
    border-bottom: thin solid #DDD;
    padding: 20px 0;
}

.add-nok-page h1 {
    text-align: center;
    text-transform: uppercase;
    border-top: thin solid #DDD;
    border-bottom: thin solid #DDD;
    padding: 20px 0;
}

.add-patient-page h1 {
    text-align: center;
    text-transform: uppercase;
    border-top: thin solid #DDD;
    border-bottom: thin solid #DDD;
    padding: 20px 0;
}

.validation {
    color: #d9534f;
}

.validation > div{
    padding-bottom: 4px;
}
.validation .glyphicon {
    margin-right: 5px;
}

.thank-you-page{
    margin-top: 100px;
}

.nok_patient_info {
    color: darkgreen;
    font-size: 15px;
}

.Wrapper
{
    position: absolute;
    width: 95%;
    height: 100%;
}

.Wrapper > div
{
    height: 100%;
}

.LeftContent
{
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollbar
{
	float: left;
	/*height: 100%;*/
	width: 100%;
	/*background: #F5F5F5;*/
	overflow-y: auto;
	/*margin-bottom: 25px;*/
}

.force-overflow
{
	min-height: 65vh;
}

/*.info > tr {
    background-color: green;
}*/


/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ccc;
}


.col-centered{
    float: none;
    margin: 0 auto;
}