h2 {
  text-align: center;
}

/*table caption {
	padding: .5em 0;
}*/

.table {
    /*margin: 0 auto;*/
}

.table th {
    background-color: lightgray;
    text-align: center;
}

.table td {
    text-align: center;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 1px solid #ddd;
  }
}
