<!--login.html-->

<div class="wrapper" ng-controller="LoginCtrl as ctrl">
    <form class="loginForm" name="loginForm" novalidate ng-submit="ctrl.login()">       
        <!--<h2 class="loginForm-heading">PMS</h2>-->
        <img class="img-responsive" ng-src="/app/assets/images/hnf.jpg">
        <br>

        <input type="text" class="form-control" 
            name="user_id" placeholder="NRIC/FIN (ID)" required ng-model="ctrl.user.id"/>
        <input type="password" class="form-control"
            name="password" placeholder="Password" required ng-model="ctrl.user.password"/>      
<!--   <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label> -->
        <div class="validation" data-ng-show="loginForm.$submitted">
            <div ng-show="ctrl.loginFail">
                <span class="glyphicon glyphicon-alert">
                </span> {{ ctrl.errMsg }} 
            </div>
            <br>
        </div>
        <button class="btn btn-lg btn-primary btn-block" 
            type="submit" ng-disabled="loginForm.$invalid">Login</button>   
    </form>
  </div>
